<nav class="navbar", style="background-color: #3f51b5; color: white !important;">
        <div class="container-fluid">
            <ul class="nav nav-tabs bg-primary">
                <li><a class="btn btn-primary nav-link fixLink" href="/" style="color: #ffe484;">LWHW</a></li>
            </ul>
            <ul class="nav navbar-right nav-tabs bg-primary riteSide">
                <li><a class="opts btn btn-primary nav-link fixLink" href="/about" style="margin-top: 8px !important; text-transform: none !important;">About</a></li>
                <% if(logged) {%>
                    <!-- <li><a class="btn btn-primary nav-link fixLink" href="/dashboard" style="padding-top: 11px !important; text-transform: none !important;"><%= username %></a></li> -->
                    <li style="padding-top: 4px !important;">
                        <div class="btn-group" style="margin: 0;">
                            <button type="button" class="opts fixDrop btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">account_circle</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right fixDropper">
                                <a href="/dashboard" class="dropdown-item">Dashboard</a>
                                <button onclick="logout()" class="btn btn-primary dropdown-item">Logout</button>
                            </div>
                        </div>
                    </li>
                <% } else { %>  
                    <li><a class="opts btn btn-primary nav-link fixLink" href="/login" style="margin-top: 8px !important; text-transform: none !important;">Login</a></li>
                <% } %>
                
            </ul>
        </div>
    </nav>