<div class="navbar">
            <ul>
                <li><h2 style="padding: 14px 16px;"><a class="lwhw" href="/"><em>LWHW</em></a></h2></li>
                <li style="float: right"><a class="opt" href="/login">Login</a></li>
            </ul>
        </div>