<nav class="navbar", style="background-color: #3f51b5; color: white !important;">
        <div class="container-fluid">
            <ul class="nav nav-tabs bg-primary">
            <li><a class="nav-link fixLink" href="/" style="color: #ffe484;">LWHW</a></li>
            </ul>
            <ul class="nav navbar-right nav-tabs bg-primary">
                <li><a class="btn btn-primary nav-link fixLink" href="/about" style="padding-top: 10px !important;">About</a></li>
                <li><a class="btn btn-primary nav-link fixLink" href="/login" style="padding-top: 10px !important;">Login</a></li>
            </ul>
        </div>
    </nav>