<script src="https://cdn.jsdelivr.net/gh/FezVrasta/snackbarjs@1.1.0/dist/snackbar.min.js"></script>
<span id="snacc" data-toggle=snackbar data-content="Some text" data-style="snackbar" data-timeout="2000" data-html-allowed="true"></span>