


.jumbotron {
    background-image: url('/img/books2.png');
    height: 65%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
@media screen and (max-width: 1090px) {
    .jumbotron {
        background-image: url('/img/books2.jpg');
        height: 90%;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        color: white;
        text-align: center;
    }
}

/* .jumbotron button {
    background-color: rgb(74, 153, 77); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
} */



.jumbotron .spacer {
    padding: 25px 0;
}
@media screen and (max-width: 1040px) {
    .jumbotron .spacer {
        padding: 10px 0;
    }
}
.jumbotron button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.heading .spacer {
    padding-top: 0px !important;
}



.aside {
    padding: 80px 0;
    text-align: left;
    padding-left: 18px;
}
@media screen and (max-width: 767px) {
    .aside {
        padding: 50px 0;
        text-align: left;
        padding-left: 18px;
    }
}

.jumbotron .subtitle {
    width: 45%;
    font-size: 18px;
}
@media screen and (max-width: 1040px) {
    .jumbotron .subtitle {
        width: 85%;
        font-size: 18px;
    }
}


.content .spacer {
    padding: 25px 0;
}


.content .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
@media screen and (max-width:767px) {
    .content .info {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.content .grid-item {
    padding: 20px;
    text-align: left;
    grid-area: auto;
}

.info .supertip {
    color: rgb(88, 88, 88);
    line-height: 1.4;
}

.astra .spacer {
    padding: 25px 0;
}

.astra .parallax {
    display: block;
    background-image: url('/img/ep_naturalblack.png');
    height: 130%;
    background-attachment: fixed;
    background-position: center;
    color: white;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .astra .parallax {
        background-image: url('/img/ep_naturalblack.png');
        height: 75%;
        background-attachment: fixed;
        background-position: center;
        color: white;
        text-align: center;
    }
}
.astra .subcontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
}

@media screen and (max-width: 786px) {
    .astra .subtext {
        display: none;
    }
    .astra .subheader {
        padding-top: 10%;
    }
}



.showcase .spacer {
    padding: 25px 0;
}


.showcase .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
@media screen and (max-width:767px) {
    .showcase .info {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.showcase .grid-item {
    padding: 20px;
    text-align: center;
    grid-area: auto;
}

.footer {
    padding-top: 2%;
    width: 100%;
    height: 6.5%;
    background-color: rgb(97, 92, 92);
    color: white;
    text-align: left;
 }

 @media screen and (max-width: 767px) {
    .footer {
        padding-top: 4%;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 12%;
        background-color: rgb(97, 92, 92);
        color: white;
        text-align: left;
     }
 }

 .footer .desc {
    padding-left: 1%;
 }

 .footer a {
    text-decoration: none;
    color: white;
 }
 .footer a:hover {
    text-decoration: none;
    color: white;
    animation-name: fadeDef;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
 }

 @keyframes fadeDef {
    from {color: white;}
    to {color: rgb(46, 44, 44);}
}
