/* html {
    height: 100% !important;
}
body {
    background-image: url('/img/darkstudy.png');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;   
    font-family: 'Roboto', sans-serif;
    color: black !important;
    min-height: 100% !important;
} */

body { 
    background: url('/img/darkstudy.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .spacer {
      padding-top: 4%;
  }

