body {
    background-image: url('/img/darkstudy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    font-family: 'Roboto', sans-serif;
    color: black !important;
}

h1 {
    color: black !important;
}
h2 {
    color: black !important;
}