<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <title>Courses</title>
        <link rel="stylesheet" href="/css/hw.css">
    </head>
    <body>
        <% include ../partials/navbar %><br>
        <div class="container-fluid">
            <div id="load">
                <p></p>
            </div>
            
            
            <div id="hws">
            </div>
        
        
        </div>
        <% include ../partials/snackbar %>
        <script src="/js/hws.js"></script>
    </body>
</html>
