<html>
    <head>
        <% include ../partials/header %>
        <title>Homework Manager</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <% include ../partials/navbar %>
        <div class="jumbotron text-center" style="margin-top: -5%;">
            <br><br>
            <h2>Homework Manager</h2> 
            <p><span class="typed"></span></p> 
            <br><br>
            <a href="./help"><button type="button" class="btn btn-transparent waves-effect">Enter</button></a>
        </div>

        <div class="container c1">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Note Database</h3>
                        <br>
                        <p>Over the years, we have collected and boiled the curriculum into the bare minimum. Cut out the extra cram hours and beat the system.</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Homework Manager</h3>
                        <br>
                        <p>Managing stuff requires effort. That's why we tried to make it use not as much effort. Why use more effort when there's an option to use less and get the same result.</p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Online Notebook</h3>
                        <br>
                        <p>Across our network of users, you can collaborate with each other and share notebooks. Too much time wasted sifting through old pages from last semester for that AP test? No worries, it's all safe here.</p>
                    </div>
                </div>
        </div>

        <script src="/js/typed.js"></script>
        <script src="/js/typeload.js"></script>
    </body>
</html>