<html>
    <head>
        <% include ../partials/header %>
        <title>Homework Manager</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><h2 style="padding: 14px 16px;"><a class="lwhw" href="./"><em>LWHW</em></a></h2></li>
                <li style="float: right"><a class="opt" href="./login">Login</a></li>
            </ul>
        </div>
        <div class="jumbotron">
            <div class="aside">
            <h1>LWHW</h1><br>
            <p class="subtitle">All in one solution for academic management. Helps keep your notes organized so you can study smarter, instead of harder.</p>
            <div class="spacer"></div>
            <a href="./login"><button>REGISTER NOW</button></a>
            </div>
        </div>
        <div class="content">
            <div class="spacer"></div>
            <div class="info">
                <div class="grid-item">
                    <h2>Organized</h2><br>
                    <p class="supertip item1">It's a hassle keeping several notebooks, only to find pages missing and valuable information scrambled. It's quite a pain. Using our Note Manager, finding relevant information for the exam you need to study for is as easy as a singular search. Just tag your notes by date and topic, and we'll take care of the rest.</p>
                </div>
                <div class="grid-item">
                    <h2>Timely</h2><br>
                    <p class="supertip item1">It gets hard to juggle due dates when assignments get piled up. That's why we created a smart user interface so you can manage your tasks efficiently. From sorting to a time schedule, the options are diverse in our Assignment Tracker.</p>
                </div>
                <div class="grid-item">
                    <h2>Flexible</h2><br>
                    <p class="supertip item1">Not a big fan of the whole online note idea? By informing us about your curriculum and how your classes are structured, you can enjoy the best of both worlds. This will allow LWHW to act as a supplement to your academic management.</p>
                </div>  
            </div>
        </div>
        <div class="astra">
            <div class="spacer"></div>
            <div class="parallax">
                <div class="subcontent">
                    <div class="item1">
                        <h2 class="subheader">Education for the stars</h2><br>
                        <p class="subtext">Learn the right way. Hours of cramming isn't part of our formula. We strongly believe in studying smarter, not harder. How many wasted hours have you spent reviewing notes and packets, only to realize on the test most of it went to waste? That's why we created LWHW, because we value your time as you should yourself.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="showcase">
            <div class="spacer"></div>
            <div class="info">
                <div class="grid-item">
                    <img src="/img/placeholder-image.jpg" height=120 width=120><br><br>
                    <h2>Assignment Tracker</h2><hr style="width: 50%; margin-left: 25%; margin-top: 2%;" align="right"><br>
                    <p class="supertip item1">Some weird filler text will occupy this space as I am doing right now by appending nonsensical words to this run-on sentence that will not be gramatically correct but still understandable to anyone with a decent understanding of English.</p>
                </div>
                <div class="grid-item">
                    <img src="/img/placeholder-image.jpg" height=120 width=120><br><br>
                    <h2>Curriculum Management</h2><hr style="width: 50%; margin-left: 25%; margin-top: 2%;" align="right"><br>
                    <p class="supertip item1">Some weird filler text will occupy this space as I am doing right now by appending nonsensical words to this run-on sentence that will not be gramatically correct but still understandable to anyone with a decent understanding of English.</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="footer">
            <p class="desc">Made by <a href="https://www.github.com/ThatOneTqnk" target=_blank>ThatOneTqnk</a></p>
        </div>
    </body>
</html>