<html>
    <head>
        <% include ../partials/header %>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <% include ../partials/navbar %>
        <div class="card">
            <div class="container">
                <h2 style="padding: 0px 7px;"><b>Login</b></h2><br>
                <form>        
                    <div class="container">
                      <label for="uname"><b>Username</b></label>
                      <input type="text" placeholder="Enter Username" name="uname" required>
                      <label for="psw"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" required>
                      <button type="submit">Login</button>
                    </div>
                </form>
                <p class="forgot"><em>Forgot password? Recover <a href="./forgot">here.</a></em></p><br>
                <p class="forgot"><em>Don't have an account? Register <a href="./register">here.</a></em></p>
            </div>
        </div>
    </body>
</html>
