<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <title>Registration</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <% include ../partials/navbar %>
        <div class="spacer"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 offset-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Login</h2>
                            <p>Login into your account.</p>
                            <form>
                                <div class="form-group">
                                    <label for="username" class="bmd-label-floating">Username</label>
                                    <input type="text" class="form-control" id="uname">
                                </div>
                                <div class="form-group">
                                    <label for="pass" class="bmd-label-floating">Password</label>
                                    <input type="password" class="form-control" id="psw">
                                </div><br>
                                <button type="submit" class="btn btn-outline-primary" style="padding-top: 11px 11px;">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><
        <script src="/js/login.js"></script>
        <% include ../partials/snackbar %>
    </body>
</html>
