<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/mainDash.css">
    </head>
    <body>
        <% include ../partials/navbar %>
        <div class="jumbotron">
            <div class="content">
                <h5><b>Welcome, <%= username %></b></h5><br>
                <p>You have no assigments to complete today!</p><br>
                <a href="/dashboard/course/list">Curriculum Management</a>
                <a href="/dashboard/hw/list">Assignment Tracker</a>
                <a href="/dashboard/notes">Note Sorter</a>
            </div>
        </div>
        <% include ../partials/snackbar %>
    </body>
</html>
