<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <title>Dashboard</title>
    </head>
    <body>
        <% include ../partials/navbar %>
                <h2><b>Normie</b></h2>
        <% include ../partials/snackbar %>
    </body>
</html>
