<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
        <title>Registration</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <% include ../partials/navbar %><br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 offset-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Register</h2>
                            <p>Register for an account to use LWHW.</p>
                            <form id="register">
                                <div class="form-group">
                                    <label for="username" class="bmd-label-floating">Username</label>
                                    <input type="text" class="form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="user" class="bmd-label-floating">Email address</label>
                                    <input type="email" class="form-control" id="user">
                                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                                </div>
                                <div class="form-group">
                                    <label for="pass" class="bmd-label-floating">Password</label>
                                    <input type="password" class="form-control" id="pass">
                                </div>
                                <div class="form-group">
                                    <label for="passConf" class="bmd-label-floating">Password Confirmation</label>
                                    <input type="password" class="form-control" id="passConf">
                                </div>
                                <div class="form-group">
                                    <label for="devCode" class="bmd-label-floating">Developer Code</label>
                                    <input type="text" class="form-control" id="devCode">
                                    <span class="bmd-help">Site is still in development! You need to ask an admin for code.</span>
                                </div><br>
                                <button class="btn btn-outline-primary" id="sendData" style="padding-top: 11px 11px;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        <script src="/js/register.js"></script>
        <% include ../partials/snackbar %>
    </body>
</html>
